---
import { getPosts } from '../../../lib/content';

export async function getStaticPaths() {
	const collections = ['blog', 'work'] as const;
	const paths = [];

	for (const collection of collections) {
		const posts = await getPosts(collection);

		for (const post of posts) {
			paths.push({
				params: { collection, id: post.id },
				props: { collection, slug: post.slug },
			});
		}
	}

	return paths;
}

const { collection, slug } = Astro.props;
const destination = `/${collection}/${slug}/`;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content={`0; url=${destination}`} />
		<link rel="canonical" href={destination} />
		<title>Redirecting...</title>
	</head>
	<body>
		<a href={destination}>Redirecting...</a>
		<script is:inline define:vars={{ destination }}>
			window.location.replace(destination);
		</script>
	</body>
</html>
