---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('work')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul >
					{
						posts.map((post) => (
							<li  class="px-0 py-2">
								<a class="block rounded-lg overflow-hidden shadow-md hover:shadow-lg transition duration-300  flex flex-col justify-center items-center" href={`/work/${post.slug}/`}>
									<img class="mt-6" width={200} height={200} src={post.data.heroImage} alt="" />
									<div class="p-4 text-center"></div>
									<h4 class="text-xl mb-2">{post.data.title}</h4>
									<p class="text-gray-600">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
