---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate} = Astro.props;
---

<html lang="en">
	<head prefix="og: https://ogp.me/ns#">
		<BaseHead title={title} description={description} />
		<style>
			html {
				scroll-behavior: smooth;
			}
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				/* margin: 0; */
				font-size: smaller;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				/* padding: 1em; */
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;			}
			.title h1 {
				margin: 0 0 0.5em 0;				
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			/* ここからボタンのデザイン */

			a {
				color: #333;
				position: fixed;
				bottom: 24px;
				right: 80px;
				text-decoration: none;
				display: block;
				width: 100px;
				padding: 16px 20px;
				text-align: right;
				transform: rotate(90deg);
				transform-origin: bottom right;
			}

			a::before {
				content: '\f062';
				font-family: 'Font Awesome 6 Free';
				font-size: 30px;
				font-weight: 900;
				color: #fff;
				line-height: 48px;
			}

			/* fadeinクラスがついた時だけ表示する */
			a.fadein {
				opacity: 1;
			}
			.arrow1 {
				width: 48px;
				height: 1px;
				background: #333;
				position: absolute;
				top: 50%;
				right: 62px;
			}

			.arrow2 {
				width: 1px;
				height: 12px;
				background: #333;
				position: absolute;
				top: calc(50% + 1px);
				right: 109px;
				transform: rotate(-130deg);
				transform-origin: top left;
			}

		</style>
		<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
			<a href="#" id="page-top">TOP
				<span class="arrow1"></span>
				<span class="arrow2"></span>
			</a>
			<!-- <button id="back-to-top">TOP</button> -->
		</main>
		<Footer />
	</body>
	<script>
		// スクロール時の処理
		window.addEventListener('scroll', () => {
			const pageTop = document.getElementById('page-top');
			
			if (pageTop) {
				if (window.scrollY >= 400) { 
					pageTop.classList.add('fadein');
				} else {
					pageTop.classList.remove('fadein');
				}
			}
		});
	</script>
	
	
</html>
